
.todo-list-root-div{
  display: flex;
  height: 100%;
  flex-flow: column nowrap;
  border-radius: 2px;
  box-shadow: 0 0 2em black;
  font-family: "Karla";
  background-color: white;
}

.todo-list-todos-root{
  display: flex;
  flex-flow: column nowrap;
}