.todo-list-input-root{
  display: flex;

  padding: 0.5em;
  padding-left: none;
  padding-right: none;
  // flex: 0 0 10%;

  input{
    margin: 0;
    flex: 0 0 100%;
    outline: none;
    border: none;
    padding-left: 0.5em;
    font-size: 30px;
  }

  input:placeholder-shown{
    border: none;
  }
  input{
    border-bottom: 1px solid green;
  }
}