
.todo-list-todo-item-root{
  display: flex;
  flex-flow: row nowrap;
  margin-top: 0;
  font-size: 25px;
  height: 40px;
  .todo-list-todo-item-checkbox-div, 
  .todo-list-todo-item-delete-button-div, 
  .todo-list-todo-item-text-div{
    display: flex;
    padding: 0.5em;
    align-items: center;
  }

  .todo-list-todo-item-delete-button-div{
    visibility: hidden;
    justify-content: flex-end;
  }

  .todo-list-todo-item-checkbox-div{
    flex: 0 0 5%;
    padding-right: 0;
    input{
      outline: none;
      // borde
    }
  }

  .todo-list-todo-item-delete-button-div{
    flex: 20%;
  }

  .todo-list-todo-item-text-div{
    display: flex;
    flex: 0 0 70%;
    font-size: 20px;
    height: 100%;
    // line-height: 1.2em;
    input{
      flex: 0 0 100%;
      font-size: 20px;
      font-family: inherit;
      width: auto;
      height: 100%;
      margin: 0;
      padding: 0;
      outline: none;
      border: none;
    }
  }
  .todo-item--editing{
    border: 1px solid;
  }

  .todo-list-todo-item-delete-button-div:hover{
    cursor: pointer;
  }
}

.todo-list-todo-item-root:hover{
  .todo-list-todo-item-delete-button-div{
    visibility: visible;
  }
  box-shadow: 0 0 20px;
}
