
.todo-list-todo-item-root{
  display: flex;
  flex-flow: row nowrap;
  margin-top: 0;
  font-size: 25px;
  height: 3em;
  // border-bottom: 1px solid;
  border-top: 1px solid;
  background-color: inherit;
  transition: box-shadow 0.4s ease-in-out,
              background-color 0.5s linear;

  .todo-list-todo-item-checkbox-div, 
  .todo-list-todo-item-delete-button-div, 
  .todo-list-todo-item-text-div{
    display: flex;

    padding: 1em;
    // padding: 0.5e
    align-content: center;
    align-items: center;
  }

  .todo-list-todo-item-delete-button-div{
    visibility: hidden;
    justify-content: flex-end;
  }

  .todo-list-todo-item-checkbox-div{
    flex: 0 0 5%;
    padding-right: 0;
    input{
      // outline: none;
      // height: 100%;
      // width: 100;
    }
  }

  .todo-list-todo-item-delete-button-div{
    flex: 20%;
  }

  .todo-list-todo-item-text-div{
    display: flex;
    flex: 0 0 70%;
    font-size: 20px;
    height: 100%;
    line-height: 1.2em;

    input{
      flex: 0 0 100%;
      font-size: inherit;
      
      align-self: baseline;
      align-content: flex-end;
      font-family: inherit;
      color: inherit;
      // font-family: inherit;
      text-decoration: none;
      font-weight: inherit;
      line-height: inherit;
      border: none;
      background: transparent;
      width: auto;
      height: 100%;
      margin: 0;
      padding: 0;
      outline: none;
      text-decoration: none!important;
      // opacity: 0;
    }
  }
  

  .todo-list-todo-item-delete-button-div:hover{
    cursor: pointer;
  }
}

.todo-item-completed{
  text-decoration: line-through;
  font-weight: 100;
  // background-color: $todo-item-editing-color;
}

.todo-item--editing{
  
  // transition: background-color 2s linear;
  input[type="text"]{
    text-decoration: none!important;
  }
}

.todo-list-todo-item-root:hover{
  .todo-list-todo-item-delete-button-div{
    visibility: visible;
  }
  box-shadow: 0 0 8px;

  
}
