.todo-list-filter-root{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  // border-top: 1px solid;
  font-family: "Karla";
  
  div{
    display: flex;
    flex: 0 0 10%;
    cursor: pointer;
    padding: 0.4em;
  }
  div:hover{
    text-decoration: underline;
  }
  .filter-option-item--active{
    text-decoration: underline;
  }
}

.todo-list-status-bar-root{
  display: flex;
  border-top: 1px solid;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  flex-flow: row nowrap;
  padding: 1em;
}