@import "./common";
@import "./todo_list";
@import "./todo_item";
@import "./todo_input";
@import "./todo_filters";


#app{
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: repeat(auto-fill, minmax(auto, auto));
  grid-auto-rows: auto;
  font-family: "karla";
}

header{
  grid-column: 2 / 3;
  display: flex;
  color: white;
  font-size: 50px;
  align-items: center;
  justify-content: center;
}
.todo-list-root-div{
  grid-column: 2 / 3;
}
